{% extends 'base.html' %}

{%  block title %}Добавить участника{% endblock %}

{% block content %}
<a href="/student/{{ student.id }}">Назад</a>
<h1>Изменить: {{ student.name }} {{ student.surname }}</h1>

<form action="/edit/{{ student.id }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <strong>Имя: </strong> <input type="text" name="name" value="{{ student.name }}"/><br>
    <strong>Фамилия: </strong> <input type="text" name="surname" value="{{ student.surname }}"/><br>
    <strong>Лицо:</strong> <input type="file" name="avatar"><br>
    <!-- TODO: Добавить другие поля -->
    <input type="submit" value="Сохранить">
</form>
{% endblock %}

